/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-card-item {
	border: none;
	.card-item {
		border-radius: 25px;
		margin: 2rem 1rem;
		padding: 1rem 1.5rem;
		position: relative;
		background-color: #466289;
		.card-intro {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			h2 {
				font-size: 1rem;
			}
			.icon {
				width: 35px;
				height: 35px;
				img {
					object-fit: contain;
					width: 100%;
					height: 100%;
					transition: transform 0.2s ease-in-out;
				}
			}
		}
		a {
			color: #fff;
			&:hover {
				text-decoration: none;
				.card-intro {
					.icon {
						img {
							animation: shake 0.5s;
							animation-iteration-count: 1; 
						}
					}
				}
			}
		}
	}
}
