/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.card {
  border-radius: 25px;
  margin: 2rem 1rem;
  padding: 1rem 1.5rem;
  position: relative;
  background-color: #466289;
}
.card .card-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card .card-intro h2 {
  font-size: 1rem;
}
.card .card-intro .icon {
  width: 35px;
  height: 35px;
}
.card .card-intro .icon img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.card a {
  color: #fff;
}
.card a:hover {
  text-decoration: none;
}
.card a:hover .card-intro .icon img {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}